<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <AssemblyName>{{testPackageName}}</AssemblyName>
    <RootNamespace>{{testPackageName}}</RootNamespace>
    <TargetFrameworks>netstandard2.0;netstandard2.1;net48;net8.0,net9.0</TargetFrameworks>
    <IsPackable>false</IsPackable>{{#nrt}}
    <Nullable>{{#useGenericHost}}enable{{/useGenericHost}}{{^useGenericHost}}annotations{{/useGenericHost}}</Nullable>{{/nrt}}
  </PropertyGroup>

  <!-- Packages for netstandard2.0 and netstandard2.1 -->
  <ItemGroup Condition="'$(TargetFramework)' == 'netstandard2.0' Or '$(TargetFramework)' == 'netstandard2.1'">
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="15.9.2" />
    <PackageReference Include="xunit" Version="2.4.2" />
    <PackageReference Include="xunit.runner.visualstudio" Version="2.4.5" />
  </ItemGroup>

  <!-- Packages for everything else (net48, net8.0, net9.0, etc.) -->
  <ItemGroup Condition="'$(TargetFramework)' != 'netstandard2.0' And '$(TargetFramework)' != 'netstandard2.1'">
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="17.12.0" />
    <PackageReference Include="xunit" Version="2.9.2" />
    <PackageReference Include="xunit.runner.visualstudio" Version="2.8.2" />
  </ItemGroup>

  <ItemGroup>
    <ProjectReference Include="..\{{packageName}}\{{packageName}}.csproj" />
  </ItemGroup>
{{>netcore_testproject.additions}}</Project>
