node_modules
scripts/output/*.md
.env
.DS_Store
.idea/*
/reference/.stoplight/
/tmp/
openapitools.json
sdk-tests/java/target
/sdk-tests/java/.idea/*
/sdk-tests/php/vendor/
/sdk-tests/php/src/
/sdk-tests/php/tests/
/sdk-tests/php/docs/
/docs/webhooks/
/logs/
