[submodule "sdks/ruby"]
	path = sdks/ruby
	url = https://github.com/voucherifyio/voucherify-ruby-sdk
[submodule "sdks/java"]
	path = sdks/java
	url = https://github.com/voucherifyio/voucherify-java-sdk
[submodule "sdks/python"]
	path = sdks/python
	url = https://github.com/voucherifyio/voucherify-python-sdk
[submodule "sdks/php"]
	path = sdks/php
	url = https://github.com/voucherifyio/voucherify-php-sdk
[submodule "sdks/dotnet"]
	path = sdks/dotnet
	url = https://github.com/voucherifyio/voucherify-dotNET-sdk
