[submodule "sdks/python"]
	path = sdks/python
	url = https://github.com/voucherifyio/sdk-python-openapi-based
[submodule "sdks/php"]
	path = sdks/php
	url = https://github.com/voucherifyio/sdk-php-openapi-based
[submodule "sdks/java"]
	path = sdks/java
	url = https://github.com/voucherifyio/sdk-java-openapi-based
[submodule "sdks/ruby"]
	path = sdks/ruby
	url = https://github.com/voucherifyio/voucherify-ruby-sdk
