{
  "openapi": "3.1.0",
  "info": {
    "title": "Voucherify Loyalty v2 API",
    "version": "2.0.0",
    "description": "Complete API documentation for Voucherify Loyalty v2 system. Requires LOYALTY_V2 feature flag."
  },
  "servers": [
    {
      "url": "https://api.voucherify.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": [],
      "X-App-Id": [],
      "X-App-Token": []
    }
  ],
  "tags": [
    {
      "name": "Card Definitions",
      "description": "CRUD operations, lifecycle management, and activity history for card definitions. Card definitions describe the configuration for loyalty cards, including code generation, points expiration, earning/spending limits, pending points, refunds, and balance settings."
    },
    {
      "name": "Programs",
      "description": "Loyalty program CRUD, lifecycle management, program-scoped resource assignments (card definitions, earning rules, rewards, tier structures), member management (create, list, get, activate, deactivate, delete), card operations (points adjustment, pending points, expiring points, transactions), reward purchases, and activity history."
    },
    {
      "name": "Earning Rules",
      "description": "Manage earning rules that define how customers earn points or receive incentives based on triggers (events, segments, custom events). Includes CRUD, lifecycle, and activity history."
    },
    {
      "name": "Tier Structures",
      "description": "CRUD operations, lifecycle management, and activity history for tier structures. Includes nested tier definitions (create, list, update, delete) within tier structures. Tier structures define the tiering model for loyalty programs — how members qualify for and move between tiers."
    },
    {
      "name": "Incentives",
      "description": "Manage incentive definitions (fixed points, proportional points, material, digital). Includes CRUD, lifecycle transitions, and activity history."
    },
    {
      "name": "Rewards",
      "description": "CRUD, lifecycle operations, and activity history for reward definitions. Rewards can be material (product/SKU) or digital (discount coupons, gift vouchers)."
    },
    {
      "name": "Examine",
      "description": "Examines the earning of loyalty points for a loyalty program member."
    }
  ],
  "paths": {
    "/v2/loyalties/card-definitions": {
      "get": {
        "operationId": "listCardDefinitions",
        "summary": "List Card Definitions",
        "description": "Returns a paginated, cursor-based list of card definitions with optional filtering and ordering.\n",
        "tags": [
          "Card Definitions"
        ],
        "parameters": [
          {
            "name": "filters[junction]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            },
            "description": "Logical junction for combining filter conditions."
          },
          {
            "name": "filters[id][conditions][$is]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by exact card definition ID."
          },
          {
            "name": "filters[id][conditions][$is_not]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exclude card definitions with this ID."
          },
          {
            "name": "filters[id][conditions][$in]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 100
            },
            "description": "Filter by multiple card definition IDs."
          },
          {
            "name": "filters[id][conditions][$not_in]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 100
            },
            "description": "Exclude card definitions with these IDs."
          },
          {
            "name": "filters[name][conditions][$is]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by exact name."
          },
          {
            "name": "filters[name][conditions][$is_not]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exclude by exact name."
          },
          {
            "name": "filters[name][conditions][$contains]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name containing substring."
          },
          {
            "name": "filters[name][conditions][$starts_with]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name starting with."
          },
          {
            "name": "filters[name][conditions][$ends_with]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by name ending with."
          },
          {
            "name": "filters[type][conditions][$is]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "INDIVIDUAL"
              ]
            },
            "description": "Filter by exact card type."
          },
          {
            "name": "filters[type][conditions][$in]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INDIVIDUAL"
                ]
              }
            },
            "description": "Filter by multiple card types."
          },
          {
            "name": "filters[status][conditions][$is]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE",
                "DRAFT"
              ]
            },
            "description": "Filter by exact status."
          },
          {
            "name": "filters[status][conditions][$in]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "INACTIVE",
                  "DRAFT"
                ]
              }
            },
            "description": "Filter by multiple statuses."
          },
          {
            "name": "filters[created_at][conditions][$before]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter for records created before this date."
          },
          {
            "name": "filters[created_at][conditions][$after]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter for records created after this date."
          },
          {
            "name": "filters[updated_at][conditions][$before]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter for records updated before this date."
          },
          {
            "name": "filters[updated_at][conditions][$after]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter for records updated after this date."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Maximum number of results to return (1-100)."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "-name",
                  "name",
                  "-type",
                  "type",
                  "-status",
                  "status",
                  "-created_at",
                  "created_at"
                ]
              }
            },
            "description": "Sort order. Prefix with `-` for descending. Default: `-created_at`."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination. Obtained from a previous list response."
          }
        ],
        "responses": {
          "200": {
            "description": "List of card definitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createCardDefinition",
        "summary": "Create Card Definition",
        "description": "Creates a new card definition with the specified configuration.\n\nRequired fields: `name`, `type`. All other fields have sensible defaults.\nThe `code_config` is optional on input but required internally (defaults are generated).\n\n**Custom validators applied:**\n- `createCardDefinitionBalanceSettings`: `balance_settings.allow_negative` can only be `true` when `points_expiration.type` is `NO_EXPIRATION`.\n- `createCardDefinitionRefunds`: `refunds.earned_points.methods` with type `REVOKE_BELOW_ZERO` requires `balance_settings.allow_negative: true`. Method type `REVOKE_FROM_PENDING` requires `pending_points.type` to be one of `PERIOD_BASED`, `FIXED_DATES`, or `EVENT_BASED`.\n",
        "tags": [
          "Card Definitions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardDefinitionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created card definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/card-definitions/{id}": {
      "get": {
        "operationId": "getCardDefinition",
        "summary": "Get Card Definition",
        "description": "Retrieves a single card definition by its ID.",
        "tags": [
          "Card Definitions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardDefinitionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Card definition details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updateCardDefinition",
        "summary": "Update Card Definition",
        "description": "Updates an existing card definition. At least one property must be provided.\n\nWhen the card definition is **not** in `DRAFT` status, only `name` and `metadata` properties can be updated.\nIn `DRAFT` status, all available properties can be updated.\n",
        "tags": [
          "Card Definitions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardDefinitionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardDefinitionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated card definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCardDefinition",
        "summary": "Delete Card Definition",
        "description": "Soft-deletes a card definition. The card definition cannot be deleted if it is assigned to a program,\nconnected to earning rules, incentives, or tier structures.\n",
        "tags": [
          "Card Definitions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardDefinitionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted card definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/ResourceLocked"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/card-definitions/{id}/activate": {
      "post": {
        "operationId": "activateCardDefinition",
        "summary": "Activate Card Definition",
        "description": "Transitions the card definition to `ACTIVE` status.\n\nAllowed transitions: `DRAFT` -> `ACTIVE`, `INACTIVE` -> `ACTIVE`.\n",
        "tags": [
          "Card Definitions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardDefinitionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Activated card definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/card-definitions/{id}/deactivate": {
      "post": {
        "operationId": "deactivateCardDefinition",
        "summary": "Deactivate Card Definition",
        "description": "Transitions the card definition to `INACTIVE` status.\n\nAllowed transitions: `ACTIVE` -> `INACTIVE`.\n",
        "tags": [
          "Card Definitions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardDefinitionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated card definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/card-definitions/{id}/draft": {
      "post": {
        "operationId": "draftCardDefinition",
        "summary": "Move Card Definition to Draft",
        "description": "Transitions the card definition back to `DRAFT` status.\n\nAllowed transitions: `ACTIVE` -> `DRAFT`.\n\nCannot draft a card definition that is connected to a non-draft program, reward,\nearning rule, incentive, or tier structure.\n",
        "tags": [
          "Card Definitions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardDefinitionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Drafted card definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid state transition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/ResourceLocked"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/card-definitions/{id}/activities": {
      "get": {
        "operationId": "listCardDefinitionActivities",
        "summary": "List Card Definition Activities",
        "description": "Returns a paginated list of activities (audit log) for a specific card definition.\n",
        "tags": [
          "Card Definitions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardDefinitionId"
          },
          {
            "name": "filters[junction]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filters[id][conditions][$is]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by exact activity ID."
          },
          {
            "name": "filters[type][conditions][$is]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "vl.card_definition.created",
                "vl.card_definition.updated",
                "vl.card_definition.deleted",
                "vl.card_definition.activated",
                "vl.card_definition.deactivated",
                "vl.card_definition.drafted",
                "vl.card_definition.assigned",
                "vl.card_definition.unassigned"
              ]
            },
            "description": "Filter by exact activity type."
          },
          {
            "name": "filters[type][conditions][$in]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "vl.card_definition.created",
                  "vl.card_definition.updated",
                  "vl.card_definition.deleted",
                  "vl.card_definition.activated",
                  "vl.card_definition.deactivated",
                  "vl.card_definition.drafted",
                  "vl.card_definition.assigned",
                  "vl.card_definition.unassigned"
                ]
              }
            },
            "description": "Filter by multiple activity types."
          },
          {
            "name": "filters[created_at][conditions][$before]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filters[created_at][conditions][$after]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "created_at",
                  "-created_at"
                ]
              }
            },
            "description": "Sort order. Default: `-created_at`."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of card definition activities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionActivityListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs": {
      "post": {
        "operationId": "createProgram",
        "summary": "Create a loyalty program",
        "description": "Creates a new loyalty program. Optionally attaches card definitions,\nearning rules, rewards, and tier structures in the same request.\nThe response uses `toCreateDTO(params)` which includes the attached\nresource ids alongside the program fields.\n",
        "tags": [
          "Programs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Program created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "operationId": "listPrograms",
        "summary": "List loyalty programs",
        "description": "Returns a cursor-paginated list of loyalty programs. Supports filtering\nby id, name, status, and created_at with various conditions.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramsFilterId"
          },
          {
            "$ref": "#/components/parameters/ProgramsFilterName"
          },
          {
            "$ref": "#/components/parameters/ProgramsFilterStatus"
          },
          {
            "$ref": "#/components/parameters/ProgramsFilterCreatedAt"
          },
          {
            "$ref": "#/components/parameters/ProgramsFilterJunction"
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/ProgramsOrder"
          },
          {
            "$ref": "#/components/parameters/ProgramsCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of programs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{id}": {
      "get": {
        "operationId": "getProgram",
        "summary": "Get a loyalty program",
        "description": "Retrieves a single loyalty program by id.",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Program details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updateProgram",
        "summary": "Update a loyalty program",
        "description": "Updates program properties. When the program is not in DRAFT status,\nonly `name` and `metadata` can be updated.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Program updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteProgram",
        "summary": "Delete a loyalty program",
        "description": "Soft-deletes a loyalty program and all its assignments\n(card definitions, earning rules, rewards, tier structures).\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Program deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{id}/activate": {
      "post": {
        "operationId": "activateProgram",
        "summary": "Activate a loyalty program",
        "description": "Transitions a program to ACTIVE status. Valid transitions:\nDRAFT -> ACTIVE (requires all assignments are ACTIVE),\nINACTIVE -> ACTIVE (requires no DRAFT assignments exist).\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Program activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{id}/deactivate": {
      "post": {
        "operationId": "deactivateProgram",
        "summary": "Deactivate a loyalty program",
        "description": "Transitions a program to INACTIVE status.\nOnly ACTIVE programs can be deactivated.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Program deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{id}/activities": {
      "get": {
        "operationId": "listProgramActivities",
        "summary": "List program activities",
        "description": "Returns a cursor-paginated list of activities for a specific program.\nSupports filtering by activity id, type, and created_at.\n",
        "tags": [
          "Programs",
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "$ref": "#/components/parameters/ProgramActivitiesFilterId"
          },
          {
            "$ref": "#/components/parameters/ProgramActivitiesFilterType"
          },
          {
            "$ref": "#/components/parameters/ProgramActivitiesFilterCreatedAt"
          },
          {
            "$ref": "#/components/parameters/ProgramActivitiesFilterJunction"
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/ProgramActivitiesOrder"
          },
          {
            "$ref": "#/components/parameters/ProgramActivitiesCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of program activities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramActivityListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{id}/card-definitions": {
      "get": {
        "operationId": "listProgramCardDefinitions",
        "summary": "List card definition assignments for a program",
        "description": "Returns a cursor-paginated list of card definition assignments\nfor the specified program.\n",
        "tags": [
          "Programs",
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/CardDefinitionAssignmentsOrder"
          },
          {
            "$ref": "#/components/parameters/CardDefinitionAssignmentsCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of card definition assignments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionAssignmentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{id}/card-definitions/batch": {
      "post": {
        "operationId": "batchProcessCardDefinitions",
        "summary": "Batch assign/unassign card definitions",
        "description": "Assigns and/or unassigns card definitions to/from a program in a single batch.\nProgram must be in DRAFT status.\n",
        "tags": [
          "Programs",
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardDefinitionsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDefinitionsBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{id}/earning-rules": {
      "get": {
        "operationId": "listProgramEarningRules",
        "summary": "List earning rule assignments for a program",
        "description": "Returns a cursor-paginated list of earning rule assignments\nfor the specified program.\n",
        "tags": [
          "Programs",
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/EarningRuleAssignmentsOrder"
          },
          {
            "$ref": "#/components/parameters/EarningRuleAssignmentsCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of earning rule assignments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningRuleAssignmentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{id}/earning-rules/batch": {
      "post": {
        "operationId": "batchProcessEarningRules",
        "summary": "Batch assign/unassign earning rules",
        "description": "Assigns and/or unassigns earning rules to/from a program in a single batch.\n",
        "tags": [
          "Programs",
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarningRulesBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningRulesBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{id}/tier-structures": {
      "get": {
        "operationId": "listProgramTierStructures",
        "summary": "List tier structure assignments for a program",
        "description": "Returns a cursor-paginated list of tier structure assignments\nfor the specified program.\n",
        "tags": [
          "Programs",
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/TierStructureAssignmentsOrder"
          },
          {
            "$ref": "#/components/parameters/TierStructureAssignmentsCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of tier structure assignments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierStructureAssignmentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{id}/tier-structures/batch": {
      "post": {
        "operationId": "batchProcessTierStructures",
        "summary": "Batch assign/unassign tier structures",
        "description": "Assigns and/or unassigns tier structures to/from a program in a single batch.\nUnassign operations require the program to be in DRAFT status.\n",
        "tags": [
          "Programs",
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TierStructuresBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierStructuresBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/rewards": {
      "get": {
        "operationId": "listProgramRewards",
        "summary": "List reward assignments for a program",
        "description": "Returns a cursor-paginated list of reward assignments\nfor the specified program.\n",
        "tags": [
          "Programs",
          "Programs"
        ],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "description": "Unique program identifier",
            "schema": {
              "type": "string",
              "pattern": "^lprg_[a-f0-9]+$"
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/RewardAssignmentsOrder"
          },
          {
            "$ref": "#/components/parameters/RewardAssignmentsCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of reward assignments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardAssignmentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/rewards/batch": {
      "post": {
        "operationId": "batchProcessRewards",
        "summary": "Batch assign/unassign rewards",
        "description": "Assigns and/or unassigns rewards to/from a program in a single batch.\n",
        "tags": [
          "Programs",
          "Programs"
        ],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "description": "Unique program identifier",
            "schema": {
              "type": "string",
              "pattern": "^lprg_[a-f0-9]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RewardsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardsBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members": {
      "post": {
        "operationId": "createMember",
        "summary": "Create member",
        "description": "Creates a new member in the specified program. The customer must exist and the program must be in ACTIVE status.\nCards are automatically created for the member based on the program's card definition assignments.\nReturns the member with their assigned cards.\n\n**Note:** Card code generation is asynchronous. Cards will appear in the response, but the `code` field may be `null` immediately after creation. The code is generated asynchronously and becomes available shortly after.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberWithCardsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Member already exists for this customer and program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Program is not in ACTIVE status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "operationId": "listMembers",
        "summary": "List members",
        "description": "Lists members of a program with optional filtering and cursor-based pagination.\nSupports filtering by id, status, customer_id, and created_at.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (1-100, default 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order for results",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "-created_at",
                    "created_at",
                    "status",
                    "-status",
                    "customer_id",
                    "-customer_id"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor token for pagination (from previous response)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[junction]",
            "in": "query",
            "description": "Logical junction for combining filters",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filters[id][conditions][$is]",
            "in": "query",
            "description": "Filter by exact member ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[id][conditions][$in]",
            "in": "query",
            "description": "Filter by member ID in list",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 100
            }
          },
          {
            "name": "filters[status][conditions][$is]",
            "in": "query",
            "description": "Filter by exact status",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE"
              ]
            }
          },
          {
            "name": "filters[status][conditions][$in]",
            "in": "query",
            "description": "Filter by status in list",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "INACTIVE"
                ]
              }
            }
          },
          {
            "name": "filters[customer_id][conditions][$is]",
            "in": "query",
            "description": "Filter by exact customer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[customer_id][conditions][$in]",
            "in": "query",
            "description": "Filter by customer ID in list",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 100
            }
          },
          {
            "name": "filters[created_at][conditions][$before]",
            "in": "query",
            "description": "Filter by created_at before date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filters[created_at][conditions][$after]",
            "in": "query",
            "description": "Filter by created_at after date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}": {
      "get": {
        "operationId": "getMember",
        "summary": "Get member",
        "description": "Retrieves a single member by ID within a program, including their assigned cards with balances.\n\n**Note:** Card code generation is asynchronous. The card `code` field may be `null` if code generation has not completed yet (e.g. shortly after member creation).\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "Member details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberWithCardsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteMember",
        "summary": "Delete member",
        "description": "Soft-deletes a member and all their associated cards within the program.\nThe program must exist. Returns the deleted member's data.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "Member deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/activate": {
      "post": {
        "operationId": "activateMember",
        "summary": "Activate member",
        "description": "Activates an inactive member. The program must exist and the member must be in a state\nthat allows activation (i.e., INACTIVE). Fails if the member is already ACTIVE or DELETED.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "Member activated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Invalid state transition (member cannot be activated from current state)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/deactivate": {
      "post": {
        "operationId": "deactivateMember",
        "summary": "Deactivate member",
        "description": "Deactivates an active member. The program must exist and the member must be in a state\nthat allows deactivation (i.e., ACTIVE). Fails if the member is already INACTIVE or DELETED.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "Member deactivated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Invalid state transition (member cannot be deactivated from current state)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/activities": {
      "get": {
        "operationId": "listMemberActivities",
        "summary": "List member activities",
        "description": "Lists activities for a specific member with optional filtering by id, type, and created_at.\nUses cursor-based pagination.\n\nActivity types include:\n- `vl.member.created`\n- `vl.member.deleted`\n- `vl.member.activated`\n- `vl.member.deactivated`\n- `vl.member.card.assigned`\n- `vl.member.card.unassigned`\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (1-100, default 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order for results",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor token for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[junction]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filters[id][conditions][$is]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[id][conditions][$in]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 100
            }
          },
          {
            "name": "filters[type][conditions][$is]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "vl.member.created",
                "vl.member.deleted",
                "vl.member.activated",
                "vl.member.deactivated",
                "vl.member.card.assigned",
                "vl.member.card.unassigned"
              ]
            }
          },
          {
            "name": "filters[type][conditions][$in]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filters[created_at][conditions][$before]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filters[created_at][conditions][$after]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of member activities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/cards/{cardId}/points": {
      "post": {
        "operationId": "adjustCardPoints",
        "summary": "Adjust card points",
        "description": "Manually adjusts points on a member's card. Positive values add points (ADMIN_CREDIT),\nnegative values subtract points (ADMIN_DEBIT). A value of zero results in no change.\n\nBoth the program and member must be in ACTIVE status. The card must be assigned to the member\nwithin the program.\n\nCreates a card transaction in PENDING status that is processed asynchronously.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "$ref": "#/components/parameters/CardId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PointsAdjustmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Points adjustment result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsAdjustmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "description": "Program or member is not in ACTIVE status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/cards/{cardId}/activities": {
      "get": {
        "operationId": "listCardActivities",
        "summary": "List card activities",
        "description": "Lists activities for a specific card with optional filtering by id, type, and created_at.\nUses cursor-based pagination.\n\nActivity types include:\n- `vl.card.created`\n- `vl.card.assigned`\n- `vl.card.unassigned`\n- `vl.card.code_generation.succeeded`\n- `vl.card.code_generation.failed`\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "$ref": "#/components/parameters/CardId"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (1-100, default 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order for results",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor token for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[junction]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filters[id][conditions][$is]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[id][conditions][$in]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 100
            }
          },
          {
            "name": "filters[type][conditions][$is]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "vl.card.created",
                "vl.card.assigned",
                "vl.card.unassigned",
                "vl.card.code_generation.succeeded",
                "vl.card.code_generation.failed"
              ]
            }
          },
          {
            "name": "filters[type][conditions][$in]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filters[created_at][conditions][$before]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filters[created_at][conditions][$after]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of card activities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/cards/{cardId}/pending-points": {
      "get": {
        "operationId": "listPendingPoints",
        "summary": "List pending points buckets",
        "description": "Lists pending points buckets for a specific card. Only returns PENDING buckets\nwith future activation dates. If the card definition does not have pending points enabled,\nreturns an empty list.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "$ref": "#/components/parameters/CardId"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (1-100, default 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order for results",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "date",
                    "-date"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "date",
                      "-date"
                    ]
                  }
                }
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor token for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pending points buckets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingPointsBucketListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/cards/{cardId}/pending-points/{bucketId}/activate": {
      "post": {
        "operationId": "activatePendingPoints",
        "summary": "Activate pending points",
        "description": "Manually activates a pending points bucket, converting pending points to active points.\nThe bucket must be in PENDING status and have a future activation date.\nBoth the program and member must be ACTIVE. The card definition must have pending points enabled.\n\nCreates a PENDING_POINTS_ACTIVATED transaction processed asynchronously.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "$ref": "#/components/parameters/CardId"
          },
          {
            "$ref": "#/components/parameters/BucketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Pending points activation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsActivationResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "description": "One of:\n- Program or member is not in ACTIVE status\n- Pending points not enabled on card definition\n- Bucket is not in PENDING status\n- Bucket activation date is not in the future\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/cards/{cardId}/pending-points/{bucketId}/cancel": {
      "post": {
        "operationId": "cancelPendingPoints",
        "summary": "Cancel pending points",
        "description": "Manually cancels a pending points bucket, preventing the points from ever being activated.\nThe bucket must be in PENDING status and have a future activation date.\nBoth the program and member must be ACTIVE. The card definition must have pending points enabled.\n\nCreates a PENDING_POINTS_CANCELED transaction processed asynchronously.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "$ref": "#/components/parameters/CardId"
          },
          {
            "$ref": "#/components/parameters/BucketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Pending points cancellation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsCancellationResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "description": "One of:\n- Program or member is not in ACTIVE status\n- Pending points not enabled on card definition\n- Bucket is not in PENDING status\n- Bucket activation date is not in the future\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/cards/{cardId}/expiring-points": {
      "get": {
        "operationId": "listExpiringPoints",
        "summary": "List expiring points buckets",
        "description": "Lists active points expiration buckets for a specific card. Only returns ACTIVE buckets\nwith future expiration dates. If the card definition does not have points expiration enabled,\nreturns an empty list.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "$ref": "#/components/parameters/CardId"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (1-100, default 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order for results",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "expiration_date",
                    "-expiration_date"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "expiration_date",
                      "-expiration_date"
                    ]
                  }
                }
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor token for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of expiring points buckets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpiringPointsBucketListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/cards/{cardId}/expiring-points/{bucketId}/expire": {
      "post": {
        "operationId": "expirePoints",
        "summary": "Expire points",
        "description": "Manually expires an active points bucket. The bucket must be in ACTIVE status and\nhave a future expiration date. Both the program and member must be ACTIVE.\nThe card definition must have points expiration enabled.\n\nCreates an ADMIN_POINTS_EXPIRATION transaction processed asynchronously.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "$ref": "#/components/parameters/CardId"
          },
          {
            "$ref": "#/components/parameters/BucketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Points expiration result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsExpirationResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "description": "One of:\n- Program or member is not in ACTIVE status\n- Points expiration not enabled on card definition\n- Bucket is not in ACTIVE status\n- Bucket expiration date is not in the future\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/cards/{cardId}/transactions": {
      "get": {
        "operationId": "listCardTransactions",
        "summary": "List card transactions",
        "description": "Lists transactions for a specific card within a member and program.\nUses cursor-based pagination. Returns all transaction types and statuses.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "$ref": "#/components/parameters/CardId"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (1-100, default 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order for results",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "-created_at",
                    "created_at"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "-created_at",
                      "created_at"
                    ]
                  }
                }
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor token for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of card transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardTransactionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/programs/{programId}/members/{memberId}/rewards/purchases": {
      "post": {
        "operationId": "purchaseReward",
        "summary": "Purchase reward",
        "description": "Initiates a reward purchase for a member. Evaluates the reward cost, checks card balance,\nand creates a POINTS_SPENT_ON_REWARD transaction in PENDING status.\n\nThe operation is asynchronous - the transaction is processed after the response.\nReturns HTTP 202 Accepted.\n\nRequirements:\n- Program must be ACTIVE\n- Member must be ACTIVE\n- Reward must be assigned to the program with available stock\n- Member's card must have sufficient balance for the reward cost\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RewardPurchaseRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Reward purchase initiated (processed asynchronously)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardPurchaseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "description": "One of:\n- Program or member is not in ACTIVE status\n- Reward is out of stock\n- No matching reward cost for customer context\n- Insufficient card balance\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "operationId": "listRewardPurchases",
        "summary": "List reward purchases",
        "description": "Lists reward purchase transactions for a specific member within a program.\nOnly returns transactions of type PURCHASE. Supports filtering by id and created_at.\nUses cursor-based pagination.\n",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberProgramId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (1-100, default 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order for results",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "-created_at",
                    "created_at"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "-created_at",
                      "created_at"
                    ]
                  }
                }
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor token for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[junction]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            }
          },
          {
            "name": "filters[id][conditions][$is]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[id][conditions][$in]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 100
            }
          },
          {
            "name": "filters[created_at][conditions][$before]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filters[created_at][conditions][$after]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of reward purchase transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardTransactionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/examine": {
      "post": {
        "summary": "Examine Earnings",
        "description": "Performs a dry-run estimation of points and incentives a customer (or member) would earn for a given event, without actually triggering any earning rule processing or modifying balances.",
        "operationId": "examineLoyaltyEarnings",
        "tags": [
          "Examine"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoyaltiesExamineRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful dry-run estimation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoyaltiesExamineResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload (e.g., mutual exclusivity violation).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Customer or member not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loyalties/earning-rules": {
      "post": {
        "operationId": "createEarningRule",
        "summary": "Create Earning Rule",
        "description": "Creates a new earning rule. The rule defines a trigger event, validation rules,\nand effects (points or incentives) to award when triggered.\n\nRequires `name`, `trigger`, and `earnings` (with at least one effect per earning).\nStatus defaults to `DRAFT` if not specified.\n",
        "tags": [
          "Earning Rules"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarningRuleCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Earning rule created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "operationId": "listEarningRules",
        "summary": "List Earning Rules",
        "description": "Lists earning rules with optional filtering, ordering, and cursor-based pagination.\nDeleted earning rules are excluded.\n",
        "tags": [
          "Earning Rules"
        ],
        "parameters": [
          {
            "name": "filters[junction]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            },
            "description": "Logical junction for combining filter conditions."
          },
          {
            "name": "filters[id][conditions][$is]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by exact earning rule ID."
          },
          {
            "name": "filters[id][conditions][$is_not]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Exclude earning rule by ID."
          },
          {
            "name": "filters[id][conditions][$in]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by earning rule IDs (up to 100)."
          },
          {
            "name": "filters[id][conditions][$not_in]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Exclude earning rule IDs (up to 100)."
          },
          {
            "name": "filters[name][conditions][$is]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by exact name."
          },
          {
            "name": "filters[name][conditions][$contains]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by name containing substring."
          },
          {
            "name": "filters[name][conditions][$starts_with]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by name starting with prefix."
          },
          {
            "name": "filters[status][conditions][$is]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE",
                "DRAFT"
              ]
            },
            "description": "Filter by exact status."
          },
          {
            "name": "filters[status][conditions][$in]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "INACTIVE",
                  "DRAFT"
                ]
              }
            },
            "description": "Filter by statuses."
          },
          {
            "name": "filters[created_at][conditions][$before]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by creation date before."
          },
          {
            "name": "filters[created_at][conditions][$after]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by creation date after."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Maximum number of results to return."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "-created_at",
                    "created_at",
                    "name",
                    "-name"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "-created_at",
                      "created_at",
                      "name",
                      "-name"
                    ]
                  }
                }
              ]
            },
            "description": "Sort order. Prefix with `-` for descending. Default is `-created_at`."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination (obtained from previous response)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of earning rules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningRuleListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/earning-rules/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EarningRuleId"
        }
      ],
      "get": {
        "operationId": "getEarningRule",
        "summary": "Get Earning Rule",
        "description": "Retrieves a single earning rule by its unique ID.",
        "tags": [
          "Earning Rules"
        ],
        "responses": {
          "200": {
            "description": "Earning rule details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningRuleResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updateEarningRule",
        "summary": "Update Earning Rule",
        "description": "Updates an existing earning rule. All provided fields replace the existing values.\nFields not provided retain their current values (merge semantics).\n\nWhen the earning rule is in `DRAFT` status, all properties can be updated.\nFor `ACTIVE` or `INACTIVE` status, only these properties are allowed:\n`name`, `earnings`, `error`, `validity_hours`, `start_date`, `end_date`, `trigger_limits`, `metadata`.\n",
        "tags": [
          "Earning Rules"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarningRuleUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Earning rule updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteEarningRule",
        "summary": "Delete Earning Rule",
        "description": "Deletes an earning rule. Cannot delete an earning rule that is assigned to a program.\nReturns a `409 Conflict` if the rule is connected to a program.\n",
        "tags": [
          "Earning Rules"
        ],
        "responses": {
          "200": {
            "description": "Earning rule deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningRuleResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/loyalties/earning-rules/{id}/activate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EarningRuleId"
        }
      ],
      "post": {
        "operationId": "activateEarningRule",
        "summary": "Activate Earning Rule",
[...]
