.custom-html {
    table {
        border-width: 1px;
        border-collapse: collapse;
        th,
        td {
            border-width: 1px;
            padding: 4px;
        }
    }
    margin-bottom: 10px;
}
